doctype
html(lang='pt-br')
  include includes/head

  body
    include includes/nav
    
    .hero.is-medium
      .columns.is-gapless
        .column
          figure
            img(src="https://source.unsplash.com/random/800x600", alt="").image
        .column
          figure
            img(src="https://source.unsplash.com/random/800x600", alt="").image
    section.hero.is-medium
      .hero-body
        .container
          .columns
            .column.is-4.is-offset-1-tablet
              h1.title Seriedade no trabalho e 
                br
                span transparência com nossos clientes.
              p Onix Negócios Imobiliários líder em intermediações de venda e compra no Residencial Real Park Tietê, atua também nos segmentos de imóveis novos e usados.
            .column.is-4.is-offset-1-tablet
              h1.title Cadastre-se e receba as 
                span melhores oportunidades por email.
              label.label(for="email") Seu melhor email
              .field.is-horizontal
                .field-body
                  .field
                    p.control.has-icons-left.is-expanded
                      input.input(type="email", placeholder="Email", name="email")
                      span.icon.is-small.is-left
                        i.fa.fa-envelope-o
                    p.help
                      | Seu email jamais será compartilhado com terceiros. Você pode cancelar esta assinatura a qualquer momento. Este serviço é gratuito.
                  .field
                    p.control.is-expanded
                      button.button.is-main-border Enviar

    include includes/foot