doctype
html(lang='pt-br')
  include includes/head

  body
    include includes/nav

    .wrap-content
      .container
        .columns
          .column.has-text-left
            h1.title Titulo da busca realizada
            h2.subtitle
              small 243 imóveis encontrado(s)
        .columns
          - var lista = ['Pretensão', 'Valor de Venda', 'Finalidade', 'Tipo', 'Cidade', 'Caracteristica', 'Dormitórios', 'Suites', 'Vagas', 'Área útil/construida', 'Área total', 'Condominio fechado']
          .column.is-3
            nav.panel
              each val in lista
                a.panel-block
                  =val
                  span.panel-icon
                    i.fa.fa-angle-down.fa-fw
          .column
            .level
              .level-left
                .level-item
                  .field.is-horizontal
                    .field-body
                      .field.is-grouped
                        p.control.is-expanded
                          span.select
                            select(name="")
                              option(value="") por atualização
                              option(value="") 2
                              option(value="") 3
                      .field
                        p.control
                          span.select
                            select(name="")
                              option(value="") 1
                              option(value="") 2
                              option(value="") 3
                      p por página
              .level-right.is-hidden-mobile
                .level-item
                  button.button
                    span.icon
                      i.fa.fa-th
                .level-item
                  button.button
                    span.icon
                      i.fa.fa-bars
                .level-item
                  button.button
                    span.icon
                      i.fa.fa-map-marker
            .columns.is-multiline
              - var n = 0
              while n <= 10
                .column.is-one-third
                  .card
                    .card-image
                      figure.image
                        img(src="https://source.unsplash.com/category/buildings/?building", alt="")
                        small.has-text-centered Ref.: TEF000
                    .card-content
                      .content
                        h1.title.is-4 Terreno - Venda
                        h2.subtitle.is-6 Real Park Tietê Jundiapeba - Mogi das Cruzes / SP
                        .level
                          .level-item.has-text-centered
                            div
                              h3.title.is-spaced 3
                              small.subtitle dorm(s)
                          .level-item.has-text-centered
                            div
                              h3.title.is-spaced 1
                              small.subtitle suíte(s)
                          .level-item.has-text-centered
                            div
                              h3.title.is-spaced 3
                              small.subtitle Vagas
                        p.title.is-lessspaced.is-6 Valor da venda:
                        p.subtitle.is-4 R$100.000,00
                - n++

    include includes/foot
