@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700')
@import 'node_modules/bulma/css/bulma'
@import '_helpers/colors'

html,
body
  font-family: 'Montserrat', sans-serif

a
  color: $black

.is-main-font
  color: $main-red
  font-family: 'Montserrat', sans-serif

.is-main-bg
  background-color: $main-red

.is-main-border
  border: 1px solid $main-red

.is-bold
  font-weight: 700 !important

.has-spacingless-2
  letter-spacing: -2px

.has-spacingless-2-5
  letter-spacing: -2.5px


.is-default
  background-color: $main-red
  border-color: $main-red
  color: white
  margin-top: 1rem
  font-weight: 700

  &:hover
    color: white
    border-color: $main-red

.nav
  height: 5.25rem

  .nav-item

    img[alt="logo"]
      max-height: 2.75rem

.main-info
  background-color: $gray
  padding: 5rem 1.5rem

.main-button
  border: 1px solid $main-red
  background-color: transparent
  color: black
  font-family: 'Montserrat', sans-serif
  font-weight: 700
  padding: 0 30px

  &:hover
    border: 1px solid $main-red

.hero

  .column

    figure
      position: relative
      display: flex
      justify-content: center
      align-items: center

      figcaption
        position: absolute

        .title,
        p
          color: white

        h2
          color: #c6c6c6
          font-weight: 700

        .title
          letter-spacing: -3.7px

.wrap-content
  width: 100%
  padding: 2rem 0
  background-color: #f1f1f1

.nav-left

  select
    border: none

.panel

  .panel-block
    justify-content: space-between
    background-color: white
    border-right: none
    border-left: none
    border-color: #d8d8d8

    &:not(:last-child)
      border-bottom: 1px solid #d8d8d8

    &:first-child,
      border-top-right-radius: 10px
      border-top-left-radius: 10px
      border-top: none

    &:last-child
      border-bottom-right-radius: 10px
      border-bottom-left-radius: 10px
      border-bottom: none

.card
  box-shadow: none
  border-radius: 5px

  .card-image

    figure
      position: relative
      display: flex
      justify-content: flex-end
      align-items: flex-end

      small
        position: absolute
        padding: 5px
        border-radius: 5px
        background-color: white
        width: 28%
        margin: -1em
        font-weight: 700

  .card-content

    .level
      border: 1px solid $gray
      border-radius: 10px
      padding: 10px
      margin-top: 1rem

      .level-item

        .title
          margin-bottom: 0

    .is-lessspaced
      margin-bottom: 1.3em

.footer
  padding: 3rem 1.5rem 3rem
  background-color: white

  .container

    .column

      .subtitle
        margin: 15px 0

.field

  .field-body

    .fa-envelope-o
      color: $main-red
