footer.footer
  .section
    .container
      .columns
        .column.is-3.is-offset-1-tablet
          h2.is-main-font.is-bold Unidade matriz
          h1.title.is-bold.has-spacingless-3 Real partk tietê
          p Avenida Guilherme George, 1584
          p Real Park Tietê - Mogi das Cruzes/SP
          p (11) 4312-2400 (11) 2855-8639
          h2.subtitle
            a(href="").is-bold
              | Como chegar 
              span.fa.fa-angle-right.fa-fw
        .column.is-3
          h2.is-main-font.is-bold Unidade filial
          h1.title.is-bold.has-spacingless-3 Patteo Mogilar
            br
            | Sky Mall e Offices
          p Avenida Guilherme George, 1584
          p Real Park Tietê - Mogi das Cruzes/SP
          p (11) 4312-2400 (11) 2855-8639
          h2.subtitle
            a(href="").is-bold
              | Como chegar 
              span.fa.fa-angle-right.fa-fw
  .container
    .columns
      .column.is-offset-1-tablet
        .level
          .level-left
            .level-item
              p.is-5
                img(src="assets/images/onix.png", alt="").image
          .level-right
            .level-item
              small Desenvolvido por &nbsp
              a(href="")
                img(src="assets/images/paverkan.png", alt="").image

script(src='assets/js/bundle.min.js')