nav.nav
  .container
    .nav-left
      a.nav-item(href="/")
        img(src="assets/images/onix.png", alt="logo").image
      .nav-item
        | Unidade
        span.select
          select(name="")
            option(value="") Patteo
            option(value="") Tietê
      .nav-item.is-hidden-mobile.nav-contact
        | (11) 4699-1927 / (11) 4312-2400
    .nav-right.is-hidden-mobile
      a.nav-item(href="")
        span.icon
          i.fa.fa-search
      a.nav-item(href="")
        img(src="assets/images/fbicon.png", alt="curta no facebook").image
      a.nav-item(href="")
        img(src="assets/images/path3755.png", alt="siga no instagram").image
      a.nav-item(href="")
        span.icon
          fa.fa.fa-bars
    span.nav-toggle
      span
      span
      span
