nav.nav
  .container
    .nav-left
      a.nav-item(href="/")
        img(src="assets/images/onix.png", alt="logo")
    .nav-right
      a.nav-item(href="")
        span.icon
          i.fa.fa-facebook
      a.nav-item(href="")
        span.icon
          i.fa.fa-instagram